body {
  background-image: url("../images/wood.png");
	
	
	h1 {
		Text-align: Center;
		Color: #00308F;
		Font-size: 50px;
	}
img{
    object-fit;
}
	
	table {
		width: 100%;
		border-collapse: collapse;
		margin: 20px 0;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
		Text-align: center;
  
}	
	td, th	{		
	  border: 5px solid;	
		border-color: Blue;
  }
	
	}
	th {
  background-color: #00308F;
  color: White;
  text-transform: uppercase;
  font-weight: bold;
	Text-align: Center;
	font-size: 20px;
}
	td {
		font-weight: bold;
		font-size: 15px;
	}
	.row2 {
		background-color: green;		
		
	}
	.row3 {
		background-color: orange;
	}
	.row4 {
		background-color: pink;
	}
	.row5 {
		background-color: yellow;
	}
	.row6 {
		background-color: purple;
	}
	.row7 {
		background-color: red;
	}
	.row8 {
		background-color: white;
	}

  
	